{%- if page.issuecategory != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: page.issuecategory -%}
    {%- assign tmpcategory = tmpcategory | push: site.data.cfg.issuecategories[page.issuecategory] -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}

{%- elsif page.issuecategories != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% for category in page.issuecategories %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: category -%}
    {%- assign tmpcategory = tmpcategory | push: site.data.cfg.issuecategories[category] -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}
    {% endfor %}

{%- elsif page.displayname != blank and page.markericon != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: "page" -%}
    {%- assign tmpcategory = tmpcategory | push: page -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}

{%- else -%}

    {%- assign issuecategories = site.data.cfg.issuecategories -%}

{%- endif -%}

                        <div  class="col-md-12 col-sm-12 col-12 mb-15">
                            <div class="card" id="issue{{member.number}}">
                                <div class="card-body issuepanel">
                                    <a href="/issues/{{member.number}}">{% if member.issue.labels contains "Validato INP" %}
                                        <div class="row">
                                            <div class="col-10"><h4 class="card-title">{{member.title}}</h4></div>
                                            <div class="col-2"><img width="128" src="/images/validato_inp_logo.png" class="img-fluid" alt="logo Validato da Italia No Profit" /></div>
                                        </div>
                                        {% elsif  member.issue.labels contains "CSV Milano" %}
                                        <div class="row">
                                            <div class="col-10"><h4 class="card-title">{{member.title}}</h4></div>
                                            <div class="col-2"><img width="128" src="/images/Logo_CSV_Milano.png" class="img-fluid" alt="logo Validato da CSV Milano" /></div>
                                        </div>
                                        {% elsif  member.issue.labels contains "CSV Monza Lecco Sondrio" %}
                                        <div class="row">
                                            <div class="col-10"><h4 class="card-title">{{member.title}}</h4></div>
                                            <div class="col-2"><img width="128" src="/images/Logo_CSV_MLS.png" class="img-fluid" alt="logo Validato da CSV Monza Lecco Sondrio" /></div>
                                        </div>
                                        {% else %}<h4 class="card-title">{{member.title}}</h4>
                                        {% endif %}</a>
                                    <dl class="row">
                                        {%- for item in member.issue.data -%}
                                            {%- if item[1] != blank -%}
                                            {% assign itemDescription = item[0] | downcase %}
                                                {% if site.data.cfg.issueFieldsBlacklist contains itemDescription %}
                                                {% else %}
                                                {% assign itemDescription = item[0] | replace: "_", " " | capitalize_all %}
                                                {%- if itemDescription == "Namesurname" -%}
                                                    {% assign itemDescription = "Name" %}
                                                {%- endif -%}
                                                <dt class="col-sm-3">{{itemDescription}}</dt>
                                                    {%- if itemDescription == "Descrizione" or itemDescription == "Description" -%}
                                                        {%- assign itemrepr = item[1] | newline_to_br | auto_link -%}
                                                        <dd class="col-sm-9">
                                                        {{itemrepr}}
                                                        </dd>
                                                    {%- elsif (itemDescription == "Address") or (itemDescription == "Location") -%}
                                                        <dd class="col-sm-9">
                                                        {%- if item[1]["address"] != blank %}
                                                            {%- assign addressfield = item[1]["address"] -%}
                                                            {%- if addressfield["address"] != blank -%}
                                                                {%- assign address = addressfield["address"] -%}
                                                                <dl class="row">
                                                                    {%- if address["city"] != blank -%}
                                                                        <dt class="col-sm-3">City</dt>
                                                                        <dd class="col-sm-9">{{address["city"]}}</dd>
                                                                    {%- endif -%}
                                                                    {%- if address["country"] != blank -%}
                                                                        <dt class="col-sm-3">Country</dt>
                                                                        <dd class="col-sm-9">{{address["country"]}}</dd>
                                                                    {%- endif -%}
                                                                </dl>
                                                            {%- endif -%}
                                                            {%- if (addressfield["lat"] != blank) and (addressfield["lon"] != blank) -%}
                                                                            <dt class="col-sm-3">Coordinates</dt>
                                                                            <dd class="col-sm-9">{{addressfield["lat"] | round: 4 }} {{addressfield["lon"] | round: 4 }}</dd>
                                                            {%- endif -%}
                                                        {%- endif -%}
                                                        </dd>
                                                    {%- else -%}
                                                        <dd class="col-sm-9">{{item[1] | newline_to_br | auto_link }}</dd>
                                                    {%- endif -%}
                                                {%- endif -%}
                                            {%- endif -%}
                                        {%- endfor -%}

                                        {%- if member.issue.data.Posizione != blank -%}
                                        {%- assign coords = member.issue.data.Posizione | split:  " " -%}
                                        {%- assign lat=coords[0] -%}
                                        {%- assign lon=coords[1] -%}
                                        {%- elsif member.issue.data.location.address.lat != blank and member.issue.data.location.address.lon != blank -%}
                                        {%- assign lat=member.issue.data.location.address.lat -%}
                                        {%- assign lon=member.issue.data.location.address.lon -%}
                                        {%- elsif member.issue.data.address.address.lat != blank and member.issue.data.address.address.lon != blank -%}
                                        {%- assign lat=member.issue.data.address.address.lat -%}
                                        {%- assign lon=member.issue.data.address.address.lon -%}
                                        {%- elsif member.issue.data.lat != blank and member.issue.data.lon != blank -%}
                                        {%- assign lat=member.issue.data.lat -%}
                                        {%- assign lon=member.issue.data.lon -%}
                                        {%- endif -%}

                                        {%- if lat != blank and lon != blank -%}
                                        <dt class="col-sm-3">Map</dt>
                                        <dd class="col-sm-9"><div id="map{{member.number}}{{category['displayname'][page.lang]}}" class="w-100" style="height: 200px;"></div></dd>
                                        <script>

                                            var markerList=[];

                                            markerList.push([{{lat}}, {{lon}}, "{{member.title|uri_escape}}", "{{ member.number }}", {{member.issue.labels}}]);
                                            {%- if category["markericon"] == blank -%}
                                                    var markerIcons = {};
                                                    {% for categorytuple in issuecategories %}
                                                    {% assign tmpcategory = categorytuple[1] %}
                                                    var newMarker = L.AwesomeMarkers.icon({icon: "{{tmpcategory['markericon']}}", markerColor: "{{tmpcategory['markercolor']}}", prefix: 'fa'}); 
                                                    {% for clabel in tmpcategory['labelnames'] %}
                                                    markerIcons["{{clabel}}"]=newMarker;
                                                    {% endfor %}
                                                    {% endfor %}
                                            {%- endif -%}
                                            var iconaDefault = L.AwesomeMarkers.icon({icon: '', markerColor: 'darkpurple'});


                                            // initialize the map
                                            var map = L.map('map{{member.number}}{{category["displayname"][page.lang]}}', {
                                                                                            scrollWheelZoom: false
                                                                                        });

                                            // create the tile layer with correct attribution
                                            var osmUrl='{{site.tile_map}}';
                                            var osmAttrib='&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>';
                                            var osm = new L.TileLayer(osmUrl, {minZoom: {{site.issuemap.zoom}}>1?{{site.issuemap.zoom}}-1:{{site.issuemap.zoom}}, maxZoom: 19, attribution: osmAttrib});


                                            var sumLat = 0.;
                                            var sumLon = 0.;

                                            markers = L.markerClusterGroup();

                                            for (var i=0; i<markerList.length; i++) {
                                                    var lat = markerList[i][0];
                                                    var lon = markerList[i][1];
                                                    var popupText = markerList[i][2];
                                                    var popupURL = markerList[i][3];
                                                    var labels = markerList[i][4];
                                                    var iconaFinale = iconaDefault;

                                                    {% if category["markericon"] == blank %}
                                                            for (var il = 0; il < labels.length; il++) {
                                                                if (labels[il] in markerIcons) {
                                                                    iconaFinale = markerIcons[labels[il]];
                                                                    break;
                                                                }
                                                            }
                                                    {% else %}
                                                    iconaFinale = L.AwesomeMarkers.icon({icon: "{{category['markericon']}}", markerColor: "{{category['markercolor']}}", prefix: 'fa'});
                                                    {% endif %}

                                                    if (!isNaN(lat) && !isNaN(lon)) {
                                                        var markerLocation = new L.LatLng(lat, lon);
                                                        var marker = new L.Marker(markerLocation, {icon: iconaFinale});

                                                        markers.addLayer(marker);

                                                        marker.bindPopup("<a href=\"/issues/" + popupURL + "\">" + decodeURI(popupText) + "</a>");

                                                        sumLat += lat;
                                                        sumLon += lon;
                                                    }
                                                }

                                            map.addLayer(markers);

                                            map.addLayer(osm).setView([{{site.issuemap.center}}], {{site.issuemap.zoom}});

                                            map.fitBounds(markers.getBounds().pad(10.0));
                                            map.setZoom(14);

                                        </script>
                                        {%- endif -%}

                                    </dl>
                                    {%- include social-share-issue.html -%}
                                </div>
                            </div>
                        </div>
