---
layout: base
lang: en
common-css:
  - "/css/main.css"
  - "/css/formio.full.min.css"
common-ext-css:
  - "//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  - "//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
  - "//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
common-googlefonts:
  - "Inter:400,700,400italic,700italic"
  - "Barlow:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-ext-js:
  - "//code.jquery.com/jquery-3.4.1.slim.min.js"
  - "//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  - "//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  - "//kit.fontawesome.com/ea542e9ca8.js"
common-js:
  - "/js/main.min.js"
  - "/js/formio.full.min.js"
---
{% include header.html type="page" %}

<div class="container-fluid" role="main">

  <div id="formio"></div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>


<script>
Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), {{content}})
  .then(function(form) {
    // Prevent the submission from going to the form.io server.
    form.nosubmit = true;

    // Triggered when they click the submit button.
    form.on('submit', function(submission) {
      console.log(submission);
      return Formio.fetch('https://www.europehelp.info:5000/report', {
          body: JSON.stringify(submission),
          headers: {
            'content-type': 'application/json'
          },
          method: 'POST',
          mode: 'cors',
        })
        .then(function(response) {
          form.emit('submitDone', submission)
          response.json()
        })
    });
  });
    
</script>

