---
layout: bare
lang: en
---

<link rel='stylesheet' href='/css/formio.full.min.css'/>
<script src='/js/formio.full.min.js'></script>

<div id="formio"></div>

<script>
    var submitDone=false;
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), {{content}})
        .then(function(form) {
                // Prevent the submission from going to the form.io server.
                form.nosubmit = true;

                // Triggered when they click the submit button.
                form.on('submit', function(submission) {
                        if (!submitDone) {
                                submitDone = true;

                                console.log(submission);
                                return Formio.fetch('https://ukrainehelp.emergenzehack.info:5000/report', {
                                        body: JSON.stringify(submission),
                                        headers: {
                                                'content-type': 'application/json'
                                            },
                                        method: 'POST',
                                        mode: 'cors',
                                    })
                                    .then(function(response) {
                                            form.emit('submitDone', submission)
                                            response.json()
                                        })
                            } else {
                                    form.emit('submitDone', submission)
                                }
                    });
            });

</script>

