---
layout: base
lang: en
---

{% include header.html type="page" %}

<link rel='stylesheet' href='/css/formio.full.min.css'/>
<script src='/js/formio.full.min.js'></script>


<div class="container-fluid" role="main">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        <div class="btn-group">
                <button type="button" class="btn btn-primary" onclick="setLanguage('en')">English</button>
                <button type="button" class="btn btn-primary" onclick="setLanguage('it')">Italian</button>
        </div>        
      <div id="formio"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3>Embed this form</h3>
            </div>
            <div class="card-body">
                <code>&lt;embed type="text/html" src="{{site.url}}{{page.url | replace:'_page','_embed'}}" width="600" height="800" /&gt;</code>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
    var submitDone=false;
    Formio.icons = 'fontawesome';
    Formio.createForm(document.getElementById('formio'), {{content}})
        .then(function(form) {
                // Prevent the submission from going to the form.io server.
                form.nosubmit = true;
                window.setLanguage = function(lang) {
          form.language = lang;
        };

                // Triggered when they click the submit button.
                form.on('submit', function(submission) {
                        if (!submitDone) {
                                submitDone = true;

                                console.log(submission);
                                return Formio.fetch('https://ukrainehelp.emergenzehack.info:5000/report', {
                                        body: JSON.stringify(submission),
                                        headers: {
                                                'content-type': 'application/json'
                                            },
                                        method: 'POST',
                                        mode: 'cors',
                                    })
                                    .then(function(response) {
                                            form.emit('submitDone', submission)
                                            response.json()
                                        })
                            } else {
                                    form.emit('submitDone', submission)
                                }
                    });
            });
        
    
</script>

