---
layout: base
common-js:
  - "/js/issuelist.production.min.js"
---


        {%- if page.displayname -%}
{% include header.html type="page" pagetitle=page.displayname %}
        {%- else -%}
{% include header.html type="page" %}
        {%- endif -%}
<div class="container-fluid" role="main">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">

{{content}}
<div class="row mx-auto" id="issuebuttons">
</div>

<script>

    const issueFieldsBlacklist={{site.data.cfg.issueFieldsBlacklist|jsonify}};
{%- if page.issuecategory != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: page.issuecategory -%}
    {%- assign tmpcategory = tmpcategory | push: site.data.cfg.issuecategories[page.issuecategory] -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}

    const issueCategories={ "{{page.issuecategory}}": {{site.data.cfg.issuecategories[page.issuecategory] | jsonify }} };
    const maxIssuesForCategory=5;

{%- elsif page.issuecategories != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% for category in page.issuecategories %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: category -%}
    {%- assign tmpcategory = tmpcategory | push: site.data.cfg.issuecategories[category] -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}
    {% endfor %}

    const issueCategories={{page.issuecategories | jsonify}};
    const maxIssuesForCategory=5;

{%- elsif page.displayname != blank and page.markericon != blank -%}

    {% assign issuecategories = "" | split: "," %}
    {% assign tmpcategory = "" | split: "," %}
    {%- assign tmpcategory = tmpcategory | push: "page" -%}
    {%- assign tmpcategory = tmpcategory | push: page -%}
    {%- assign issuecategories = issuecategories |  push: tmpcategory -%}

    const issueCategories={ "page": {{page | jsonify}} };
    const maxIssuesForCategory=-1;

{%- else -%}

    {%- assign issuecategories = site.data.cfg.issuecategories -%}

    const issueCategories={{site.data.cfg.issuecategories | jsonify}};
    const maxIssuesForCategory=5;

{%- endif -%}

    const siteurl = {{site.url | jsonify}};
    const sitetitle = {{site.title | jsonify}};
    const sitetilemap = {{site.tile_map | jsonify}};
</script>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
   crossorigin=""/>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
   crossorigin=""></script>


<style>
#map{ height: 600px; }
</style>

<div class="row">
<div class="col-md-12 col-sm-12 col-12"> <div id="issuemap" class="w-100" style="height: 600px;"></div> </div>
</div>

<div class="row">
    <div class="col-md-12" id="issue-card">
    </div>
</div>

</div>
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>


