---
layout: page
---

<div class="offset-md-3 col-md-6">

    {%- for type in site.data.i18n.issues.forms -%}
      
      {% if type.path == '/forms/segnala_help_page' %}
    
      <a class="btn btn-success btn-lg btn-block btn-form" href="{{type.path}}?lang={{page.lang}}">{{type[page.lang]}}</a>
    
      {%- else -%}
    
      <a class="btn btn-outline-dark btn-lg btn-block btn-form" href="{{type.path}}?lang={{page.lang}}">{{type[page.lang]}}</a>
    
      {% endif %}
    
    {%- endfor -%}
</div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3>Embed this page</h3>
            </div>
            <div class="card-body">
                <code>&lt;embed type="text/html" src="{{site.url}}/segnala_embed/" width="600" height="800" /&gt;</code>
            </div>
        </div>
    </div>
  </div>
