---
layout: homepage
title: ДОПОМОГА УКРАЇНІ
subtitle: Збирати та поширювати інформацію та корисні послуги  для допомоги Україні а надзвичайній ситуації.
lang: ua
---

{%- assign openissues = site.data.machgen.issuesjson | where: "state","open" -%}
{%- assign filteredissues = openissues | sort: 'number' | reverse -%}

<div class="homepage-categories">
    {% assign categories_without_map = site.data.cfg.logos | where: "map", false %}
    {% for category in categories_without_map %}
      {% capture logo_alt %}
        {{ category.name_ua }}
        {% if category.logo_credit and category.logo_credit != empty %}
          logo by {{ category.logo_credit }}
        {% endif %}
      {% endcapture %}
      {% assign logo_alt = logo_alt | strip %}
  <div class="card border-0" style="width: 10rem;">
      <div class="card-body w-100">
          <a href="{{ site.baseurl }}/{{ category.link }}"  title="{{ logo_alt }}">
              {% if category.logo and category.logo != empty %}
              <img class="card-img-top w-50 mx-auto" src="{{ site.baseurl }}{{ category.logo }}" alt="{{ category.logo-alt }}"><br/>
              {% endif %}
              <h6 class="card-title">{{ category.name_ua }}</h6>
          </a>
          {% if category.footer_include %}
          {% include {{category.footer_include}} %}
          {% endif %}
      </div>
  </div>
    {% endfor %}
    </div>
    
    <hr class="col-lg-12">
    
    <div class="row">
        <div class="col-lg-12 col-xs-12">
                <form class="global-search" role="form" action="/searchissues" method="get">
                    <div class="form-group">
                        <label for="search-box">ЩО ТИ ШУКАЄШ?</label>
                        <input type="text" class="form-control" id="search-box" name="query" placeholder="">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Search">
                    </div>
                </form>
        </div>
    </div>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../js/moment.min.js"></script>
    <script type="text/javascript" src="../js/masonry.min.js"></script>
    <!-- form di ricerca delle news -->
    <script src="../js/jquery.sieve.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.5/elasticlunr.min.js"></script>
    <script type="text/javascript" src="../js/lunr.stemmer.support.min.js"></script>
    <script type="text/javascript" src="../js/lunr.it.min.js"></script>
    <script type="text/javascript" src="../js/search.min.js"></script>
    
    <script>
      var searchTemplate="<div class='form-group'><div class='input-group'><div class='input-group-addon'>Cerca:</div><input type='text' class='form-control' placeholder='(cerca qui...)'></div></div>"
      $("div.sieve").sieve({ itemSelector: ".panel-info" });
    </script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
   crossorigin=""/>

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
   crossorigin=""></script>

<style>
#map{ height: 600px; }
</style>

<div class="row">

<div class="col-md-12 col-sm-12 col-12"> <div id="map" class="w-100" style="height: 600px;"></div> </div>
{%- assign issuecategories = site.data.cfg.issuecategories -%}
{%- include issuemap.html -%}

